@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    direction: rtl;
    @apply bg-slate-900 h-full overflow-x-hidden;
}

#__next {
    @apply h-full;
}

#__next {
    @apply h-full;
}

/* Custom Font Faces */
@font-face {
    font-family: 'Ploni-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('PloniMLv2AAA-Regular Regular'), url('/fonts/PloniRegular.woff') format('woff');
}

@font-face {
    font-family: 'Ploni-U-Light';
    font-style: normal;
    font-weight: normal;
    src: local('PloniMLv2AAA-U-Light Regular'), url('/fonts/PloniULight.woff') format('woff');
}

@font-face {
    font-family: 'Ploni-Light';
    font-style: normal;
    font-weight: normal;
    src: local('PloniMLv2AAA-Light Regular'), url('/fonts/PloniLight.woff') format('woff');
}

@font-face {
    font-family: 'Ploni-Medium';
    font-style: normal;
    font-weight: normal;
    src: local('PloniMLv2AAA-Medium Regular'), url('/fonts/PloniMedium.woff') format('woff');
}

@font-face {
    font-family: 'Ploni-D-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('PloniMLv2AAA-D-Bold Regular'), url('/fonts/PloniDBold.woff') format('woff');
}

@font-face {
    font-family: 'Ploni-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('PloniMLv2AAA-Bold Regular'), url('/fonts/PloniBold.woff') format('woff');
}

@font-face {
    font-family: 'Ploni-U-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('PloniMLv2AAA-U-Bold Regular'), url('/fonts/PloniUBold.woff') format('woff');
}

@font-face {
    font-family: 'Ploni-Black';
    font-style: normal;
    font-weight: normal;
    src: local('PloniMLv2AAA-Black Regular'), url('/fonts/PloniBlack.woff') format('woff');
}